.app {
  background-color: #0c0c0c;
  min-height: 100vh;
}

.products-result-container {
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Encode Sans";
  color: #e5dfd9;
  margin-top: 32px;
  margin-bottom: 40px;
}

.product-result-category-container {
  display: flex;
  align-items: center;
}

.product-result-category-text {
  font-weight: 500;
  margin: 0 3px 0 0;
}

.product-result-category-sort-img {
  height: 20px;
  width: 17px;
  margin-left: 8px;
  margin-right: 10px;
}

.product-result-category-count-container {
  display: flex;
  align-items: center;
}

.product-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  gap: 39px 32px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1280px;
}
